.bds{
  &__sidebarLeft{
    &__title{
      line-height: (25/15);
      @extend .fz-15;
      font-family: $font-SVN-Segoe-UI-Bold;
      color: #ffffff;
    }
    &__desc{
      line-height: (15/12);
      @extend .fz-12;
      font-family: $font-SVN-Segoe-UI-Light;
    }
    &__btn{
      text-transform: capitalize;
      background: rgba(#fff, 0.3) !important;
      color: rgba(#fff,0.7) !important;
    }
    &__nav{
      >li{
        &.uk-active{
          >a{
            font-family: $font-SVN-Segoe-UI-Bold;
            position: relative;
            &:before{
              @include media-breakpoint-up('m'){
                content: "";
                position: absolute;
                right: calc(100% + 15px);
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 1px;
                background-color: #fff;
                display: inline-block;
              }
            }
          }
        }
        >a{
          line-height: (14.4/12);
          @extend .fz-12;
          font-family: $font-SVN-Segoe-UI-Light;
        }
      }
    }
  }
  &__contentRight{
    &__title{
      text-transform: uppercase;
      @extend .fz-15;
      line-height: (25/15);
      font-family: $font-SVN-Segoe-UI-Bold;
      color: #ffffff;
    }
    &__title2{
      line-height: (20/12);
      @extend .fz-12;
      font-family: $font-Segoe-UI-Semibold;
      color: #CCCC66 !important;
    }
    &__title1{
      line-height: (25/15);
      @extend .fz-15;
      color: #CCCC66 !important;
      font-family: $font-SVN-Segoe-UI-Bold;
    }
    &__list1{
      >li{
        margin: 0;
        line-height: (20/12);
        @extend .fz-12;
        font-family: $font-SVN-Segoe-UI-Light;
        span{
          font-family: $font-Segoe-UI-Semibold;
          color: #ffffff !important;
        }
      }
    }
    &__box1{
      line-height: (20/12);
      @extend .fz-12;
      font-family: $font-SVN-Segoe-UI-Light;
      padding-left: 15px;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 10px);
        display: inline-block;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        bottom: 0;
      }
    }
  }
}