// Fonts families
$font-SVN-Segoe-UI-Light: 'SVN-Segoe UI Light Regular',sans-serif;
$font-SVN-Segoe-UI-Bold: 'SVN-Segoe UI Bold',sans-serif;
$font-Segoe-UI-Semibold: 'Segoe UI Semibold',sans-serif;
$font-Segoe-UI-Regular: 'Segoe UI Regular',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 12px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
